.dealers {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dealers__list > .dealers__item:not(:last-child) {
  border-bottom: 1px solid var(--grayLight);
}

.dealers__item {
  display: grid;
  align-items: center;
  grid-template-columns: 45px 1fr auto;
  height: 80px;
  gap: 20px;
  padding: 0 20px;
}

.dealers__item-img {
  width: 45px;
  height: 45px;
}

.dealers__item-basket {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
