html {
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}

#root {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
  -webkit-overflow-scrolling: auto;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

